
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- banner -->
<div class="inner_page_agile">
    <h3>Jobs</h3>
    <p>Add Some Short Description</p>

</div>
<!--//banner -->
<!--/w3_short-->
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">

        <ul class="short_w3ls" _w3ls>
            <li>@Html.ActionLink("Trang chủ", "Home", "Default", new { area = "" }, new { @class = "nav-link" })<span>|</span></li>
            <li>Việc làm</li>
        </ul>
    </div>
</div>
<!--//w3_short-->
<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">Available Jobs </h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-8 job_info_left">
                <div class="but_list">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                @foreach (var i in Model)
                                {
                                    <div class="tab_grid">
                                        <div class="col-sm-3 loc_1">
                                            <a href="#"><img src="/Images/loc2.jpg" alt=""></a>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="location_box1">
                                                <h6><a href="#">@i.title </a><span class="m_1">Posted 5 hours ago</span></h6>
                                                <p>
                                                    <span class="m_2">Địa điểm: </span>@i.VietnamProvince.ProvinceName
                                                </p>
                                                <p>
                                                    <span class="m_2">Công ty: </span>@i.Recruiter.company_name
                                                </p>
                                                <ul class="links_bottom">
                                                    <li><a href="#"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
                                                    @*<li><a href="#"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>*@
                                                    @*<li class="last"><a href="#"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>*@
                                                    <li>
                                                        <i class="fa fa-eye icon_1"></i>
                                                        <span>@Html.ActionLink("Xem chi tiết", "getDetail", "Jobs", new { id = @i.id }, new { @class = "icon_text" })</span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                }

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 job_info_right">
            @if (Session["user_recruiter"] != null)
            {
                @Html.ActionLink("Add new Job", "addJob", "Job", new { area = "" }, new { @class = "active btn btn-success" })
            }


            <h5 class="widget-title">Tìm kiếm</h5>
            <div class="widget-content">
                <label for="category">Ngành</label>
                <select id="category" class="form-control jb_1">
                    <option value=" ">All</option>
                    @foreach (var i in ViewBag.category)
                    {

                        if (ViewBag.category_select == i.id)
                        {
                            <option selected value="@i.id">@i.name</option>
                        }

                        else
                        {
                            <option value="@i.id">@i.name</option>
                        }

                    }

                </select>
                <label for="location">Địa điểm</label>
                <select id="location" class="form-control jb_1">
                    <option value=" ">All</option>
                    @foreach (var i in ViewBag.location)
                    {

                        if (ViewBag.location_select == i.ProvinceID)
                        {
                            <option selected value="@i.ProvinceID">@i.ProvinceName</option>
                        }

                        else
                        {
                            <option value="@i.ProvinceID">@i.ProvinceName</option>
                        }

                    }

                </select>
                <label for="range_1">Salary</label>
                <input id="range_1" type="text" name="range_1" value="">
                <input id="search" type="submit" value="Search">
            </div>

            <div class="col_3 experience">
                <h3>Work Experiance</h3>
                <table class="table">
                    <tbody>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Junior
                            </td>
                            <td>
                                (56)
                            </td>
                        </tr>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Senior
                            </td>
                            <td>
                                (56)
                            </td>
                        </tr>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Middle
                            </td>
                            <td>
                                (56)
                            </td>
                        </tr>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Junior
                            </td>
                            <td>
                                (56)
                            </td>
                        </tr>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Junior
                            </td>
                            <td>
                                (56)
                            </td>
                        </tr>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Junior
                            </td>
                            <td>
                                (56)
                            </td>
                        </tr>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Junior
                            </td>
                            <td>
                                (56)
                            </td>
                        </tr>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Junior
                            </td>
                            <td>
                                (56)
                            </td>
                        </tr>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Junior
                            </td>
                            <td>
                                (56)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col_3 permit">
                <h3>Work Permit</h3>
                <table class="table">
                    <tbody>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Full time
                            </td>
                        </tr>
                        <tr class="unread checked">
                            <td class="hidden-xs">
                                <input type="checkbox" class="checkbox">
                            </td>
                            <td class="hidden-xs">
                                Part time
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- Bootstrap slider -->
    <script src="~/Content/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <script>
            $(document).ready(function () {
                $('#search').on('click', function () {
                    var category = $('#category').val();
                    var location = $('#location').val();
                    var Salary = $('#range_1').val();
                    if (category.length > 0) {
                        window.location.href = '/Default/Jobs?id=' + category + '&&id_location=' + location + '&&salary=' + Salary;

                    }
                });
                $('.slider').bootstrapSlider()
                var salary = (new URL(location.href)).searchParams.get('salary');
                var min = 0;
                var max = 500000;
                if (salary != null) {
                    var data_array = salary.split(';');
                    min = data_array[0];
                    max = data_array[1];
                }


                /* ION SLIDER */
                $('#range_1').ionRangeSlider({

                    min: 0,
                    max: 500000,
                    from: min,
                    to: max,
                    type: 'double',
                    step: 1,
                    prefix: '$',
                    prettify: false,
                    hasGrid: true
                })

            });
    </script>

}
