@model IEnumerable<FinalProjectDotNet.Models.EF.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            Ngành
        </th>
        <th>
            Nhà tuyển dụng
        </th>
        <th>
            Địa điểm
        </th>
        <th>
            Tiêu đề
        </th>
        <th>
            Mô tả công việc
        </th>
        <th>
            Yêu cầu
        </th>
        <th>
            Mức lương
        </th>
        <th>
            Ngày đăng
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>
    @{ var number = 1;}
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(number++)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recruiter.full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VietnamProvince.ProvinceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_posted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
