@model IEnumerable<FinalProjectDotNet.Models.EF.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recruiter.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VietnamProvince.ProvinceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_posted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recruiter.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VietnamProvince.ProvinceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_posted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
