@model IEnumerable<FinalProjectDotNet.Models.EF.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<div class="table-container">
    <div class="create-button">
        @Html.ActionLink("Create New", "Create", null, new { @class = "create-link" })
    </div>
    <table class="table" border="1">
        <tr>
            <th>
                Ngành nghề
            </th>
            <th>
                Nhà tuyển dụng
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
                Mô tả công việc
            </th>
            <th>
                Địa điểm
            </th>
            <th>
                Mức Lương
            </th>
            <th>
                Ngày đăng
            </th>
            <th>
                Is active
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recruiter.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_posted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_active)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.id }, new { @class = "btn btn-edit" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.id }, new { @class = "btn btn-details" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id }, new { @class = "btn btn-delete" })
                </td>
            </tr>
        }

    </table>
</div>

