@model FinalProjectDotNet.Models.EF.Job
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngành 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.name)
        </dd>


        <dt>
            Địa điểm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VietnamProvince.ProvinceName)
        </dd>

        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Mô tả công việc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Yêu cầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requirements)
        </dd>

        <dt>
            Mức lương
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            Ngày đăng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_posted)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @(Model.is_active ? "Đang tuyển dụng" : "Hết hạn")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "GetJob")
</p>


