@model IEnumerable<FinalProjectDotNet.Models.EF.Job>

@{
    ViewBag.Title = "GetJob";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<h2>Tin tuyển dụng</h2>

<p>
    @Html.ActionLink("Đăng tin tuyển dụng", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngành
        </th>
        <th>
            Địa điểm
        </th>
        <th>
            Tiêu đề
        </th>
        <th>
            Mô tả công việc
        </th>
        <th>
            Yêu cầu
        </th>
        <th>
            Mức lương
        </th>
        <th>
            Ngày đăng
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VietnamProvince.ProvinceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.requirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_posted)
            </td>
            <td>
                @(item.is_active ? "Đang tuyển dụng" : "Hết hạn")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>


