@model FinalProjectDotNet.Models.EF.BannerBottom

<div class="team_work_agile" style="background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(@Model.img) no-repeat; background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(@Model.img) no-repeat; background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(@Model.img) no-repeat; background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(@Model.img) no-repeat;">
    <h4> @Model.description </h4>
</div>