@model IEnumerable<FinalProjectDotNet.Models.EF.Recruiter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            Họ và tên
        </th>
        <th>
            Hình đại diện
        </th>
        <th>
            Email
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Công ty
        </th>
        <th></th>
    </tr>
    @{ var number = 1;}
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(number++)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_create)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
