@model IEnumerable<FinalProjectDotNet.Models.EF.Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<div class="table-container">
    <div class="create-button">
        @Html.ActionLink("Create New", "Create", null, new { @class = "create-link" })
    </div>
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Tên Menu
                </th>
                <th>
                    Link
                </th>
                <th>
                    Meta
                </th>
                <th>
                    Hide
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.order)
                </th>
                <th>
                    Date begin
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.meta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datebegin)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-edit" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-details" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-delete" })
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>


