@model IEnumerable<FinalProjectDotNet.Models.EF.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<div class="table-container">
    <div class="create-button">
        @Html.ActionLink("Create New", "Create", null, new { @class = "create-link" })
    </div>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-edit" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-details" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-delete" })
                </td>
            </tr>
        }

    </table>
</div>

