@model FinalProjectDotNet.Models.EF.Application

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Candidate.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidate.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cover_letter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cover_letter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
