@model FinalProjectDotNet.Models.EF.Application

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên ứng viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidate.full_name)
        </dd>

        <dt>
            Tiêu đề việc làm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.title)
        </dd>

        <dt>
            Resume
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidate.resume)
        </dd>

        <dt>
            Thư giới thiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cover_letter)
        </dd>

        <dt>
            Ngày đăng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
