@model IEnumerable<FinalProjectDotNet.Models.EF.Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<div class="create-button">
    <table id="example2" class="table table-bordered table-hover"><</table>
        @Html.ActionLink("Create New", "Create", null, new { @class = "create-link" })

</div>
    <table id="example1" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Tên ứng viên
                </th>
                <th>
                    Tiêu đề công việc
                </th>
                <th>
                    Resume
                </th>
                <th>
                    Thư giới thiệu
                </th>
                <th>
                    Ngày gửi
                </th>
            </tr>
        </thead>
        <tbody>
            @{ var number = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Raw(number++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Candidate.full_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Candidate.resume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cover_letter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-edit" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-details" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-delete" })
                    </td>
                </tr>
            }
        </tbody>

        

    </table>


