@model IEnumerable<FinalProjectDotNet.Models.EF.Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Candidate.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cover_letter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Candidate.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cover_letter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
